<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394909397855-a3pv8ed524884n37jpb7m4uiq71hnvhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394909397855-a3pv8ed524884n37jpb7m4uiq71hnvhb</string>
	<key>API_KEY</key>
	<string>AIzaSyDoTp_PFMJKjzvTnQVa-ITPgHLFXPIAmHc</string>
	<key>GCM_SENDER_ID</key>
	<string>394909397855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miriamhaart.Lyv</string>
	<key>PROJECT_ID</key>
	<string>lyv-app-53a2b</string>
	<key>STORAGE_BUCKET</key>
	<string>lyv-app-53a2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394909397855:ios:cdd0bdbad39ec5ae</string>
	<key>DATABASE_URL</key>
	<string>https://lyv-app-53a2b.firebaseio.com</string>
</dict>
</plist>